
/*----------------ADDED CSS------------------*/
* {
	box-sizing: border-box;
	 margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	min-height: 100vh;
	background-color: #221f1f;
}
ul {
  list-style: none;
}


h2,
h3,
a {
	color: #130e25;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	font-size: .99em;
}

.main-nav a:hover {
	color: #26324a;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #c5d8e1;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.logo img{
	height: 100%;
}
.main-nav button,
.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #283233;
}


.login,
.bibtex-form{  
        width: 382px;  
        overflow: hidden;
        padding: 80px;  
        background: #c5d8e1;  
		-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
        margin: 10% 0% 0% 40%;
}  
.signup{  
        width: 482px;  
        overflow: hidden;
        padding: 80px;  
        background: #c5d8e1;  
		-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
         margin: 5% 0% 0% 40%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
span{
	height:100%;
	font-size: 30px;
}
.showBorder{
	border: 1px black solid;
}

.article{
	background-color: #798994;
	margin:	1%;
	padding: 1%;
}
.create{
	 width: 432px;  
        overflow: hidden;
        padding: 20px;  
        background: #c5d8e1;  
		-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
        margin: 2% 0% 0% 40%;
}

/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}